<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573818412107-7hhi5p1cbhm08css2e3dj638ds8nta2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573818412107-7hhi5p1cbhm08css2e3dj638ds8nta2k</string>
	<key>API_KEY</key>
	<string>AIzaSyDvg0CD6fvFWO2fSRXsB-vBJdYB0p3p4II</string>
	<key>GCM_SENDER_ID</key>
	<string>573818412107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personalAccounting</string>
	<key>PROJECT_ID</key>
	<string>personal-accounting-e5659</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-accounting-e5659.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573818412107:ios:a1962072e9a7f3dd9941ce</string>
</dict>
</plist>